@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

$cor-fundo-geral: rgba(#000, 0.05);
$cor-fundo-menu: #116824;
$cor-fundo-menu-selecionado: #1aa839;
$cor-texto-menu: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.carregando {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgba($color: #000000, $alpha: 0.3);
  i {
    font-size: 5rem;
  }

  &.mostrar {
    display: flex;
  }
}
