:root {
  --cor-primaria-laranja: #FB8408;
  --cor-primaria-verde: #047B36;
  --cor-verde-600: #109E79;
  --cor-verde-400: 54, 206, 166;
  --cor-verde-200: 4, 196, 148;

  --cor-dark-600: #000000;
  --cor-dark-400: #585858;
  --cor-dark-200: #8D8D8D;
}

.navbar {
  background-color: var(--bs-gray-200);
}

.navbar-nav a {
  position: relative;
  font-size: 1.25em;
  margin: 0.25em;
}

.navbar-nav a::before {
  --tamanho: 0;
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: var(--tamanho);
  background-color: var(--cor-primaria-laranja);
  height: 3px;
  transition: width 200ms;
}

.navbar-nav a:hover::before,
.navbar-nav a.active::before {
  --tamanho: 100%;
}

.nav-link.active {
  position: relative;
  font-weight: 500;
}